

.coverdiv {
    background-color: rgba(255, 255, 255, 0.581);
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    font-family: "Jost", sans-serif;
    position: absolute;
    top: 0;
    left: 0;
    /* animation-name: widthSlide;
    animation-duration: 2s;
    animation-delay: 1s; */
 }



.leftCrslPart{
    /* width: 50%; */
    /* height: 100%; */
    /* border: 1px solid red; */
    color: black;
    padding-left: 130px;
    z-index: 1;
}

.leftCrslPart > h1{
    font-size: 8vw;
    text-align: left;
    animation-name: slideinLtR;
    animation-duration: 4s;
}
.leftCrslPart > p{
    font-size: 1vw;
    text-align: left;
    color: black;
    /* margin: -5px; */
    animation-name: slideinRtL;
    animation-duration: 4s;
}
.leftCrslPart > h2{
    font-size: 3vw;
    text-align: left;
    animation-name: slideinDtT;
    animation-duration: 4s;
    margin: 2vw 0;
}
.leftCrslPart > a{
    font-size: 30px;
    background-color: red;
    padding: 8px 11px;
    border-radius: 20px;
    color: white;
    border: 1px solid black;

}


.cloud{
    width: 60%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 0;
    animation-name: slideinLtR;
    animation-duration: 3s;
}

.rocket{
    width:38vw;
    position: absolute;
    bottom: 10%;
    top: 5vw;
    right: 5vw;
    z-index: 2;
    animation-name: rocketGoing;
    animation-duration: 5s;
    animation-timing-function: ease-out;
    /* animation-delay: 2s; */
}
.rocket>img{
    width: 100%;
}


 /* The animation code */
 @keyframes widthSlide {
    0%   {width: 0vw;}
    100% {width: 100vw;}
  }


 @keyframes rocketGoing {
    
    from {
        translate: -300vw 100%;
        scale: 200% 1;
      }
    
      to {
        translate: 0 0;
        scale: 100% 1;
      }
  }


  
  @keyframes slideinLtR {
    from {
      translate: -150vw 0;
      scale: 200% 1;
    }
  
    to {
      translate: 0 0;
      scale: 100% 1;
    }
  }
  @keyframes slideinRtL {
    from {
      translate: 150vw 0;
      scale: 200% 1;
    }
  
    to {
      translate: 0 0;
      scale: 100% 1;
    }
  }
  
  @keyframes slideinDtT {
    from {
      translate: 0 100vw;
      scale: 200% 1;
    }
  
    to {
      translate: 0 0;
      scale: 100% 1;
    }
  }
  
 
  

@media screen and (max-width:1066px) {
  .leftCrslPart > a{
    font-size: 9px;
  }
  .leftCrslPart{
    padding-left: 15px;
  }

  .leftCrslPart > h2{
    margin: 0 0;
  }

}