.testtimonialSec{
    background-color: white;
}

.testtimonialSec>h4{
    text-align: center;
    color: red;
    margin: 50px 0;   
}
.testtimonial {
    min-height: 100px;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: row;
}

.testtimonial>div {
    width: 50%;
    height: 100%;
}

.testtimonial>.leftDiv {
    width: 50%;
    height: 100%;
}

.testtimonial>.leftDiv>h4 {
    color: red;
    font-size: 16px;
    margin: 20px 0;
}

.testtimonial>.leftDiv>h3 {
    font-size: 36px;
}

.testtimonial>.rightDiv>video {
    width: 100%;
}

.feedbackParent{
    position: relative;
    bottom: 450px;
    overflow-x: scroll;
}
.feedback {
    /* max-width: 12000px; */
    width: 3500px;
    margin: auto;
    
    padding-bottom: 100px;
    display: flex;
    flex-direction: row;
    gap: 80px;
}


/* width */
.feedbackParent::-webkit-scrollbar {
    height: 7px;
}

/* Track */
.feedbackParent::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
.feedbackParent::-webkit-scrollbar-thumb {
    background: rgba(255, 0, 0, 0.574);
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Handle on hover */
  .feedbackParent::-webkit-scrollbar-thumb:hover {
    background: red;
  }



.feedback>.feedbackCards {
    padding: 30px 0;
    background-color: #ffffff87;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    border-radius: 8px;
    width: 350px;
    display: flex;
    flex-direction: row;
    align-items: center;
    translate: 65px 0;
}

.feedback>.feedbackCards>.leftFeedBack {
    width: 35%;
    margin-right: 20px;
}

.feedback>.feedbackCards>.leftFeedBack>img {
    width: 100%;
}

.feedback>.feedbackCards>.rightFeedBack {
    width: 65%;
}
.feedback>.feedbackCards>.rightFeedBack>.redLine{
    width: 70%;
    height: 3px;
    background-color: orange;
}
.feedback>.feedbackCards>.rightFeedBack>i{
    color: #f8bc24;
}

.feedback>.feedbackCards>.rightFeedBack>h3 {
    font-size: 1rem;
}

.feedback>.feedbackCards>.rightFeedBack>h4 {
    font-size: 0.8rem;
}

.feedback>.feedbackCards>.rightFeedBack>p {
    font-size: 0.8rem;
    height: 140px;
    overflow-y: scroll;
    /* scrollbar-width: thin;
    scrollbar-color: red; */
    
}

/* width */
.feedback>.feedbackCards>.rightFeedBack>p::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  .feedback>.feedbackCards>.rightFeedBack>p::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  .feedback>.feedbackCards>.rightFeedBack>p::-webkit-scrollbar-thumb {
    background: rgba(255, 0, 0, 0.574);
  }
  
  /* Handle on hover */
  .feedback>.feedbackCards>.rightFeedBack>p::-webkit-scrollbar-thumb:hover {
    background: red;
  }



.feedback>.feedbackCards * {
    translate: -25px 0;
}






/* Scrollbar style for Explore Our World's Best Courses Section */
.swiper-wrapper{
    overflow: scroll;
    overflow-y: hidden;
}


/* width */
.swiper-wrapper::-webkit-scrollbar {
    width: 5px;
    height: 8px;
  }
  
  /* Track */
  .swiper-wrapper::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
.swiper-wrapper::-webkit-scrollbar-thumb {
    background: red;
    border-radius: 10px;
  }


  @media (max-width: 1050px) {
    .feedback{
        bottom: 450px;
    }
}
  @media (max-width: 970px) {
    .feedback{
        bottom: 350px;
    }
}
  @media (max-width: 550px) {
    .feedback{
        bottom: 40px;
    }
}


